{% extends "base_loggedout.html" %}
{% block content %}
<div class="container">
    
    <form method="POST" class="form__container">
        <h2>Forgot Password?</h2>
        {% csrf_token %}
        <div class="form__group">
            <label for="id_email">Email</label>
            <input type="email" name="email" autocomplete="email" 
                    required id="id_email" placeholder="Enter email">
        </div>
        <div class="form__actions" style="margin-top: 10px;">
            <button type="submit" class="button">Submit</button>
        </div>
        <div style="margin-top: 30px;">
            <a href="{% url 'login' %}">Back To Login</a><br>
        </div>
    </form>

</div>
{% endblock %}