{% extends "base_loggedout.html" %}
{% block content %}
<div class="container form__container">
    {% if validlink %}
    <h3>Reset Your Password</h3>
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" id="reset">Reset Password</button>
    </form>
    {% else %}
    <div>
        The password reset link was invalid, possibly because it has already been used.
        Please request a password <a href="{% url 'password_reset' %}">reset</a>
    </div>
    {% endif %}
</div>
{% endblock content %}