body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #f5f5f5;
    font-family: "Poppins", sans-serif;
}

body.login {
    background: linear-gradient(
        to right bottom,
        #0094aa,
        #0094b4,
        #0093bd,
        #0092c5,
        #0090cd,
        #008dd4,
        #008adb,
        #0086e1,
        #0081e8,
        #007bef,
        #0074f4,
        #006cf8
    );
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Poppins", sans-serif;
}

body.login .container {
    height: fit-content;
    display: flex;
    flex-direction: column;
}

.centred {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form__container {
    display: flex;
    flex-direction: column;
    width: 400px;
    background-color: #fff;
    border-radius: 5px;
    padding: 50px;
}

.form__group {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.form__actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    gap: 20px;
}

.form__actions button,
.form__actions a {
    width: 100%;
    font-size: 14px;
    font-weight: 600;
    text-decoration: none;
    color: #191919;
}

.title__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    padding: 0px 10px;
}

.title__row > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 220px;
}

input,
select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

input.button,
a.button,
button.button {
    background-color: #2978b7; /* was 387AE6 which is lighter and lower contrast */
    color: #f1f1f1;
    border: none;
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
    text-decoration: none;
    text-align: center;
}

input.button:hover,
a.button:hover,
button.button:hover {
    background-color: #ccc;
    color: #0095ff;
}

input.button__secondary,
a.button__secondary,
button.button__secondary {
    background-color: #f4f4f4;
    color: #191919;
    border: 1px solid #ccc;
}

input.button__transparent,
a.button__transparent,
button.button__transparent {
    background-color: transparent;
    color: #0095ff;
}

input.button__transparent:hover,
a.button__transparent:hover,
button.button__transparent:hover {
    background-color: #ccc;
    color: #4d94db;
}

input.button__danger,
a.button__danger,
button.button__danger {
    background-color: #c53636;
    color: #f1f1f1;
}

input.button__danger:hover,
a.button__danger:hover,
button.button__danger:hover {
    background-color: #ccc;
    color: #ff3333;
}

input.button__warning,
a.button__warning,
button.button__warning {
    background-color: transparent;
    color: #ff6600;
}

input.button__warning:hover,
a.button__warning:hover,
button.button__warning:hover {
    background-color: #ccc;
    color: #ff9933;
}

label {
    margin-bottom: 5px;
    font-weight: 600;
    font-size: 15px;
}

.form__message {
    font-size: 14px;
    margin-top: 40px;
    padding: 20px;
    border-radius: 5px;
    background-color: #fff;
    width: 460px;
}

.form__error {
    color: #fff;
    background-color: rgba(255, 0, 0, 0.733);
}

.form__success {
    color: #fff;
    background-color: rgba(11, 131, 11, 0.733);
}

.helptext {
    font-size: 12px;
    font-style: italic;
    margin-top: 5px;
    margin-bottom: 20px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #d4d4d4;
    border-radius: 5px 5px 0 0;
}

header h1 {
    margin: 0;
    font-size: 20px;
    color: #191919;
}

h2 {
    margin: 0 0 10px 0;
    font-size: 26px;
    color: #191919;
}

h3 {
    color: #191919;
}

h4 {
    margin: 0 0 8px 0;
    font-size: 16px;
    color: #191919;
}

header a {
    text-decoration: none;
    color: #191919;
    font-size: 14px;
    font-weight: 600;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.2s ease-in-out;
    font-family: "Poppins", sans-serif;
}

header a:hover {
    background-color: #ccc;
}

nav.start {
    display: flex;
    flex: 1;
}

nav.end {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.container {
    height: 100%;
    padding: 20px;
}

.lists {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
}

.list {
    flex: 1;
    padding: 20px;
    min-width: 300px;
}

.card {
    background-color: #f1f1f1;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
    transition: background-color 0.2s ease-in-out;
    border: 1px solid #ccc;
    color: #191919;
}

.card:hover {
    background-color: #d5d5d5; /* E0E0E0 for less contrast */
}

.task__description {
    color: #191919;
}

a.card__link {
    text-decoration: none;
    color: #191919;
}

/* Task priority styling */

.task__priority {
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 12px;
    font-weight: bold;
}

.task__priority[priority="LW"] {
    background-color: #0077b2;
    color: #f1f1f1;
}

.task__priority[priority="MD"] {
    background-color: #8b6c27;
    color: #f1f1f1;
}

.task__priority[priority="IP"] {
    background-color: #348037;
    color: #f1f1f1;
}

.task__priority[priority="UR"] {
    background-color: #b85143;
    color: #f1f1f1;
}

.task__priority[priority="IU"] {
    background-color: #c45a07;
    color: #f1f1f1;
}

/* Task status styling */

.task__status {
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 12px;
    font-weight: bold;
}

.task__status[status="NS"] {
    background-color: #555555;
    color: #ff6b6b;
}

.task__status[status="IP"] {
    background-color: #555555;
    color: #ffd700;
}

.task__status[status="CP"] {
    background-color: #555555;
    color: #66cd00;
}

/* Task tags styling */

.task__tag {
    background-color: #e0e0e0;
    color: #191919;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 12px;
    font-weight: bold;
    margin-left: 5px;
}

.task__top__row {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: 10px;
}

.task__middle__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.task__bottom__row {
    display: flex;
    justify-content: space-between;
    align-items: top;
    margin-top: 20px;
}

.task__assignee {
    background-color: #d9e4ff;
    color: #191919;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 12px;
    font-style: italic;
    font-weight: bold;
}

h2.loggedout {
    margin-bottom: 20px;
}

.tasks {
    background-color: #fff;
    height: 65vh;
    padding: 10px;
    border-radius: 5px;
    border: 2px solid #fff;
    overflow-y: scroll;
}

.loggedin__user {
    margin-right: 30px;
    font-size: 14px;
}

.product__page {
    display: flex;
}

.product__page .product__backlog {
    flex: 1;
}

.product__page .boards {
    flex: 3;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: #88888870;
    border-radius: 5px;
}

a.option__danger:hover {
    background-color: #c53636;
    color: #f1f1f1;
}

a.option:hover {
    background-color: #2978b7;
    color: #f1f1f1;
}