{% extends "base_loggedin.html" %} {% block content %}
<div class="title__row">
    <h1><u>Boards</u></h1>
    <style>
        body{
            
            background-image: url('https://images.unsplash.com/photo-1515229144611-617d3ce8e108?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2340&q=80');
            background-size: cover;

        }
    </style>
    <a class="button" href="{% url 'create_board' %}">Create Board</a>
</div>
<div class="product__page">
    <div class="list product__backlog">
        <div class="list" id="{{ list_title }}">
            <h3>Product Backlog</h3>
        </div>
        <style>
            .card{background-color: rgb(186, 161, 106);}
        </style>
        <div class="tasks">
            {% for task in tasks %}
            <div id="{{ task.id }}">
                <a
                    draggable="false"
                    href="/task/{{ task.id }}"
                    class="card__link"
                >
                    <div class="card">
                        <div class="task__top__row">
                            <h4>{{ task.title }}</h4>
                            <span
                                class="task__priority"
                                priority="{{ task.priority }}"
                                >{{ task.get_priority_display }}</span
                            >
                        </div>
                        <div class="task__middle__row">
                            <span>{{ task.description }} </span>
                            {% if task.tag != "None" %}
                            <span class="task__tag"
                                >{{ task.get_tag_display }}</span
                            >
                            {% endif %}
                        </div>
                        <div class="task__bottom__row">
                            <span class="task__assignee"
                                >Assigned to: {{ task.assignee }}</span
                            >
                            <span
                                class="task__status"
                                status="{{ task.status }}"
                                >{{ task.get_status_display }}</span
                            >
                        </div>
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>

    <div class="boards">
        {% for board in boards %}
        <div class="board">
            <a
                draggable="false"
                href="/board/{{ board.id }}"
                class="card__link"
            >
                <div class="card">
                    <h3>{{ board.title }}</h3>
                </div>
            </a>
        </div>
        {% endfor %} {% endblock %}
    </div>
</div>
